@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: rgb(19, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(19, 0, 36, 1) 0%,
    rgba(107, 9, 121, 1) 35%,
    rgba(255, 0, 231, 1) 100% */
  background-image: url("bg3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
